.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.date-picker .text-field {
    -fx-control-inner-background: #FFF68F ;
    -fx-alignment: CENTER;
}